/**
 * Colours
 * ===================
 */
/**
 * Branding
 * -------------------
 */
/**
 * Grid Setup
 * ===================
 */
.has--admin-bar {
  padding-top: 40px; }

.has--admin-bar > body {
  position: relative; }

.admin-bar {
  position: absolute;
  top: -40px;
  width: 100%;
  height: 40px;
  background-color: #fcfcfc;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }
  .admin-bar span {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.5); }
  .admin-bar a {
    color: #ffffff;
    background-image: url("../images/cms-logo.svg");
    background-size: auto 28px;
    background-position: 7px 7px;
    width: 124px;
    text-indent: -999px;
    overflow: hidden; }
  .admin-bar a:hover, .admin-bar a:active {
    background-color: rgba(0, 0, 0, 0.05); }
  .admin-bar span, .admin-bar a {
    padding: 0 10px;
    display: inline-block; }
