.entries {
    @media screen and (min-width: $mobile-breakpoint) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        & > .entry {
            flex: 0 1 50%;
            padding: 0 15px;
            max-width: 50%;
        }
    }
}

